<?xml version="1.0"?>

<configuration>
    <configSections>
        <section name="CassandraSharp"
                 type="CassandraSharp.SectionHandler, cassandra-sharp" />
    </configSections>

    <CassandraSharp>
        <Cluster name="TestCassandra">
            <Behavior maxRetries="3"
                      poolSize="1" />

            <Transport type="Framed"
                       port="9160" />

            <Endpoints strategy="Nearest"
                       snitch="RackInferring">
                <Server>BADABOUM</Server>
                <Server>127.0.0.1</Server>
                <Server>127.0.0.2</Server>
            </Endpoints>
        </Cluster>

    </CassandraSharp>

</configuration>