Apache.Cassandra/bin/
Apache.Cassandra/gen-csharp/
Apache.Cassandra/obj/
CassandraSharp/bin/
CassandraSharp/obj/
CassandraSharpUnitTests/bin/
CassandraSharpUnitTests/obj/
OutDir/
TestClient/bin/
TestClient/obj/
Thrift/bin/
Thrift/obj/
cassandra-sharp-version.cs