<?xml version="1.0"?>

<configuration>
    <configSections>
        <section name="CassandraSharp"
                 type="CassandraSharp.SectionHandler, CassandraSharp" />
    </configSections>

    <CassandraSharp>
        <Cluster name="TestCassandra">
            <Behavior maxRetries="3"
                      poolSize="1"
                      defaultKeyspace="TestKS"
                      defaultReadConsistencyLevel="ONE"
                      defaultWriteConsistencyLevel="LOCAL_QUORUM" />

            <Transport type="Framed"
                       port="9160" />

            <Endpoints strategy="Nearest"
                       snitch="RackInferring">
                <Server>127.0.0.1</Server>
                <Server>127.0.0.2</Server>
            </Endpoints>
        </Cluster>

        <Cluster name="TestCassandraMinimal">
            <Endpoints>
                <Server>127.0.0.1</Server>
                <Server>127.0.0.2</Server>
            </Endpoints>
        </Cluster>

    </CassandraSharp>
</configuration>