<?xml version="1.0"?>

<configuration>
    <configSections>
        <section name="CassandraSharp"
                 type="CassandraSharp.SectionHandler, CassandraSharp" />
    </configSections>

    <CassandraSharp loggerClass="TestClient.Logger4log4net, TestClient">
        <Cluster name="MadeSimple">
            <Behavior maxRetries="3"
                      keyspace="TestKeyspace"
                      readCL="ONE"
                      writeCL="QUORUM" />

            <Transport type="Framed"
                       port="9160" 
                       poolSize="1" />

            <Endpoints strategy="Nearest"
                       snitch="RackInferring">
                <Server>127.0.0.1</Server>
            </Endpoints>
        </Cluster>

        <Cluster name="CustomEndpointStrategy">
            <Behavior maxRetries="3"
                      keyspace="TestKeyspace"
                      readCL="ONE"
                      writeCL="QUORUM" />

            <Transport type="Framed"
                       port="9160"
                       poolSize="1" />

            <Endpoints strategy="Custom" strategyClass="CassandraSharp.EndpointStrategy.NearestEndpointStrategy2, CassandraSharp"
                       snitch="Custom" snitchType="CassandraSharp.Snitch.RackInferringSnitch, CassandraSharp">
                <Server>127.0.0.1</Server>
                <Server>127.0.0.2</Server>
            </Endpoints>
        </Cluster>

        <Cluster name="MinimalConfig">
            <Endpoints>
                <Server>127.0.0.1</Server>
                <Server>127.0.0.2</Server>
            </Endpoints>
        </Cluster>

        <Cluster name="ObjectMapper">
            <Behavior maxRetries="3"
                      cqlver="3.0.0-beta1"
                      keyspace="TestKeyspace"
                      readCL="ONE"
                      writeCL="QUORUM" />

            <Transport type="Framed"
                       port="9160"
                       poolSize="1" />

            <Endpoints strategy="Nearest"
                       snitch="RackInferring">
                <Server>127.0.0.1</Server>
            </Endpoints>
        </Cluster>
        
    </CassandraSharp>
</configuration>