<?xml version="1.0"?>

<configuration>
    <configSections>
        <section name="CassandraSharp"
                 type="CassandraSharp.SectionHandler, CassandraSharp" />
    </configSections>

    <CassandraSharp>
        <Cluster name="TestCassandra">
            <Behavior maxRetries="3"
                      keyspace="TestKS"
                      readCL="ONE"
                      writeCL="LOCAL_QUORUM" />

            <Transport type="Framed"
                       port="9160" 
                       poolSize="1" />

            <Endpoints strategy="Nearest"
                       snitch="RackInferring">
                <Server>127.0.0.1</Server>
                <Server>127.0.0.2</Server>
            </Endpoints>

            <!-- same as above but using custom strategy -->
            <!--<Endpoints strategy="Custom" strategyType="CassandraSharp.EndpointStrategy.NearestEndpointStrategy2, CassandraSharp"
                       snitch="Custom" snitchType="CassandraSharp.Snitch.RackInferringSnitch, CassandraSharp">
                <Server>127.0.0.1</Server>
                <Server>127.0.0.2</Server>
            </Endpoints>-->

        </Cluster>

        <Cluster name="TestCassandraMinimal">
            <Endpoints>
                <Server>127.0.0.1</Server>
                <Server>127.0.0.2</Server>
            </Endpoints>
        </Cluster>

    </CassandraSharp>
</configuration>