<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="CassandraSharp" type="CassandraSharp.SectionHandler, CassandraSharp.Interfaces" />
  </configSections>

  <CassandraSharp>
    <Logger type="TestClient.Logger4Log4Net, TestClient" />

    <Cluster name="MadeSimple">
      <Transport type="Default" port="9160" />
      <Endpoints strategy="Nearest" snitch="RackInferring">
        <Server>localhost</Server>
      </Endpoints>
    </Cluster>

    <Cluster name="CustomEndpointStrategy">
      <Transport type="Default" port="9160" />
      <Endpoints strategy="CassandraSharp.EndpointStrategy.NearestEndpointStrategy2, CassandraSharp"
                 snitch="CassandraSharp.Snitch.RackInferringSnitch, CassandraSharp">
        <Server>127.0.0.1</Server>
        <Server>127.0.0.2</Server>
      </Endpoints>
    </Cluster>

    <Cluster name="MinimalConfig">
      <Endpoints>
        <Server>127.0.0.1</Server>
        <Server>127.0.0.2</Server>
      </Endpoints>
    </Cluster>

    <Cluster name="ObjectMapper">
      <Transport type="Framed" port="9160" poolSize="1" cqlver="3.0.0-beta1" />
      <Endpoints strategy="Nearest" snitch="RackInferring">
        <Server>127.0.0.1</Server>
      </Endpoints>
    </Cluster>

    <Cluster name="DefaultKeyspace">
      <Endpoints>
        <Server>127.0.0.1</Server>
        <Server>127.0.0.2</Server>
      </Endpoints>
      <DefaultKeyspace name="Test">
        <Replication class="SimpleStrategy" replication_factor="2" />
      </DefaultKeyspace>
    </Cluster>
  </CassandraSharp>
</configuration>